.container {
    font-family: 'Montserrat', sans-serif;
}

.shoe-detail-right .divider {
    height: 2px;
    background-color: #fff;
    background: url(../images/bg_divider.png) repeat-x 7px;
}

.shoe-detail-right h6 {
    font-size: 16px;
}

.saleprice {
    color: #f15e2c;
    font-size: 30px;
}

.btn-black {
    background-color: #000000;
    color: #fff;
    font-size: 1.5rem;
}

.text-orange {
    color: #f15e2c;
}

.btn-orange {
    color: white;
    background-color: #f15e2c;
}

.btn-favorite {
    background-color: #ff8670;
    color: white;
}

.entry-menu {
    list-style: none;
    border-bottom: #000 3px solid;
    padding: 0.5rem 1rem 0.5rem 0;
    display: block;
}

.entry-menu>li+li:before {
    content: "| ";
}

.entry-menu li {
    display: inline-block;
}

.entry-menu li a {
    color: black;
}

.entry-menu li.active {
    font-weight: bold;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 20%;
    max-width: 20%;
    background: white;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2rem;
    display: block;
    color: black;
}

#sidebar ul li a:hover {
    background: #f7f7f7;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #f0f0f0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* margin-left: 250px; */
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

#sidebarCollapse {
    display: none;
}

.logo {
    margin: 0 auto !important;
}

.sidebarCollapseClicked {
    transition: all 0.3s;
}

.collapse-menu-button {
    height: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        min-width: 30%;
        max-width: 30%;
        background: white;
        color: #fff;
        transition: all 0.3s;
    }
    #sidebar.active {
        margin-left: 0;
        position: relative;
        left: 0;
        top: 3rem;
    }
    #sidebarCollapse {
        display: inline-block;
        position: relative;
        height: 2.5rem;
    }
    #content {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .collapse-menu-button {
        height: 2.5rem;
        position: relative;
        line-height: 3rem;
    }
}


/* SearchBox */

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}